{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-login">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 id="ok">Espace Admin</h1>

            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>

            <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
<!--
            <div class="checkbox">
                <label for="remember_me">Se souvenir de moi ?</label>
                <input type="checkbox" id="remember_me" name="_remember_me">
            </div>  -->

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
          <!--  <a href="#" class="">
                Mot de passe oublié ?
            </a> -->
        </form>
    </div>

{% endblock %}
