{% extends 'base.html.twig' %}

{% block title %}New ImagesRandom{% endblock %}

{% block body %}
    <h1>Create new ImagesRandom</h1>

    {{ include('images_random/_form.html.twig') }}

    <a href="{{ path('images_random_index') }}">back to list</a>
{% endblock %}
