* {
  scroll-behavior: smooth; }
  * a {
    text-decoration: none;
    text-transform: none; }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; }

.navbar {
  position: fixed;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar img {
    height: 100%;
    width: 400px; }
  .navbar nav {
    width: 600px;
    padding-right: 10px;
    display: inline-flex;
    justify-content: space-around; }
    .navbar nav a {
      font-size: 25px;
      color: #000; }

#slider {
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative; }
  #slider h1 {
    color: #ff3635;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 450px;
    text-shadow: 1px 0 1px #CCCCCC, 0 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; }
  #slider img {
    width: 100%;
    height: 100%; }
  #slider #last,
  #slider #next {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 50px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px; }
    #slider #last:hover,
    #slider #next:hover {
      opacity: 1;
      transition: all 0.3s; }
  #slider #last {
    left: 0; }
  #slider #next {
    right: 0; }

.icons-services {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  border-top: 3px solid #c5c5c5;
  height: 75px; }
  .icons-services .rounded {
    height: 150px;
    width: 150px;
    background-color: #f0f0f0;
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    position: relative;
    top: -75px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .icons-services .rounded img {
      height: 100px;
      width: 100px; }

#services {
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #c5c5c5;
  background-color: #f0f0f0;
  height: 500px; }
  #services .description {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #services .description h3 {
      font-size: 28px;
      color: #ff3635; }
    #services .description p {
      line-height: 150%;
      border-radius: 10px;
      width: 500px;
      height: 500px;
      font-size: 22px;
      text-align: justify; }

#realisations {
  margin-top: 40px; }
  #realisations .buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px; }
    #realisations .buttons .kitchen {
      background-image: url("../images/buttons/beautiful-shot-of-modern-house-kitchen.jpg");
      background-size: 100%;
      height: 250px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #000;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 28px;
      transition: all 0.3s;
      border: none; }
      #realisations .buttons .kitchen:hover {
        transform: translateY(-5px);
        transition: all 0.3s;
        box-shadow: 1px 23px 29px 22px rgba(0, 0, 0, 0.75); }
        #realisations .buttons .kitchen:hover h3 {
          font-size: 40px; }
    #realisations .buttons .bathroom {
      background-image: url("../images/buttons/bathroom-1336164_640.jpg");
      background-size: 100%;
      height: 250px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #000;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 28px;
      transition: all 0.3s;
      border: none; }
      #realisations .buttons .bathroom:hover {
        transform: translateY(-5px);
        transition: all 0.3s;
        box-shadow: 1px 23px 29px 22px rgba(0, 0, 0, 0.75); }
        #realisations .buttons .bathroom:hover h3 {
          font-size: 40px; }
    #realisations .buttons .dressing {
      background-image: url("../images/buttons/closet-4696557_1280.jpg");
      background-size: 100%;
      height: 250px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #000;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 28px;
      transition: all 0.3s;
      border: none; }
      #realisations .buttons .dressing:hover {
        transform: translateY(-5px);
        transition: all 0.3s;
        box-shadow: 1px 23px 29px 22px rgba(0, 0, 0, 0.75); }
        #realisations .buttons .dressing:hover h3 {
          font-size: 40px; }
  #realisations .before-after {
    width: 100%; }
    #realisations .before-after .frame {
      width: 100%;
      height: 500px;
      box-shadow: 10px 10px 42px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 100px; }
      #realisations .before-after .frame .before {
        width: 700px;
        height: 450px; }
        #realisations .before-after .frame .before h4 {
          font-size: 30px;
          position: absolute;
          margin: 0; }
        #realisations .before-after .frame .before img {
          width: 100%;
          height: 100%; }
      #realisations .before-after .frame .after {
        width: 700px;
        height: 450px; }
        #realisations .before-after .frame .after h4 {
          font-size: 30px;
          position: absolute;
          margin: 0; }
        #realisations .before-after .frame .after img {
          width: 100%;
          height: 100%; }
  #realisations .otherimages {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    #realisations .otherimages .order {
      width: 600px;
      height: 400px;
      margin-top: 30px; }
      #realisations .otherimages .order img {
        width: 100%;
        height: 100%; }
  #realisations .display {
    display: none; }

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #c5c5c5;
  border-top: 3px solid #c5c5c5;
  background-color: #f0f0f0;
  height: auto; }
  #contact img {
    height: 50px;
    width: 50px; }
  #contact h2 {
    font-size: 36px; }
  #contact h3 {
    font-size: 26px; }
  #contact h5 {
    font-size: 20px;
    color: #ff3635;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #contact p {
    font-size: 18px; }
  #contact .info1 {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #contact .info1 .email {
      height: 100%;
      vertical-align: center;
      text-align: center; }
    #contact .info1 .tel {
      height: 100%;
      vertical-align: center;
      text-align: center; }
    #contact .info1 .address {
      height: 100%;
      vertical-align: center;
      text-align: center; }
  #contact .info2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around; }
    #contact .info2 .contactform {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #contact .info2 .contactform form {
        height: 400px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #contact .info2 .contactform form .first {
          display: flex;
          justify-content: space-between; }
        #contact .info2 .contactform form .second {
          display: flex;
          justify-content: space-between; }
        #contact .info2 .contactform form input {
          width: 250px;
          height: 30px;
          border: 1px solid #c5c5c5;
          border-radius: 5px; }
        #contact .info2 .contactform form textarea {
          width: 600px;
          height: 200px;
          border: 1px solid #c5c5c5;
          border-radius: 5px; }
        #contact .info2 .contactform form .submit input {
          color: #FFF;
          background-color: #ff3635;
          border: none !important; }
    #contact .info2 .hours {
      height: 100%;
      width: 800px; }
      #contact .info2 .hours p {
        height: 30px;
        display: flex;
        align-items: center; }
        #contact .info2 .hours p img {
          height: 30px;
          width: 30px; }
    #contact .info2 #mapy {
      height: 500px;
      width: 800px;
      margin-bottom: 20px; }
  #contact .comments {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #contact .comments .links {
      width: 500px;
      display: flex;
      justify-content: space-between; }
      #contact .comments .links a {
        color: #fff;
        font-size: 22px; }
      #contact .comments .links .google {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #4285f4;
        display: flex;
        align-items: center;
        justify-content: center; }
      #contact .comments .links .facebook {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #3b5998;
        display: flex;
        align-items: center;
        justify-content: center; }

footer {
  width: 100%;
  height: 200px;
  background-color: #282828;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  footer p {
    font-size: 18px; }

/* Espace admin */
.body {
  width: 100vw;
  height: 100vh; }

/*# sourceMappingURL=app.css.map */
